*{
    margin: 0;
    padding: 0;
    text-align: center;
}

h1{
    background-color:black ;
    color: white;
    height: 5rem;
    line-height: 5rem;
}
.choice{
    height: 120px;
    width: 160px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
   align-items: center;
}
.choice:hover{
    cursor: pointer;
    background-color: black;
}

img{
    height: 100px;
    width: 140px;
    object-fit: cover;
    border-radius: 50%;
}

.choices{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 3rem;
    margin-top: 5rem
}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;

}

#your-score, #computer-score{
    font-size:5rem ;
    color: rgb(183, 16, 130);
}
.msg-container{
    margin-top: 5rem;
}
#msg{
    background-color: black;
    color: white;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
   
}
#msg:hover{
    background-color:rgb(183, 16, 130);
}
